body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: futura-bold;
    src: url("{{ asset('fonts/Futura\ Bold\ font.ttf') }}");
}

@font-face {
    font-family: futura-extra-bold;
    src: url("{{ asset('fonts/Futura\ Condensed\ Extra\ Bold.otf') }}");
}

@font-face {
    font-family: helvetica-bold;
    src: url("{{ asset('fonts/Helvetica\ Bold.ttf') }}");
}

@font-face {
    font-family: helvetica-medium;
    src: url("{{ asset('fonts/Helvetica-Medium_22487.ttf') }}");
}

@font-face {
    font-family: helveticaNeue-medium;
    src: url("{{ asset('fonts/HelveticaNeue-MediumCond.otf') }}");
}

.head1 {
    width: 100%;
    background: #63453c;
    padding: 15px;
    font-family: helvetica-medium;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F8F7F6;
    /* box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);*/
    z-index: 100;
}
.nav__logo,
.nav__burger,
.nav__close {
    color: #000;
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: 600;
}

.nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}


.offers {
    position: relative !important;
    top: 85px !important;
    height: 30px;
}

.offers h4 {
    position: relative !important;
    bottom: 25px !important
}



.head1 .container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.head1 .container ul {
    list-style: none;
    text-decoration: none;
    color: #ddd;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer;
}

.head1 .plus {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-column-gap: 4em;
}

.head2 .logo img {
    width: 100%;
}

.head1 .account {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-column-gap: 4em;
}

.head2 {
    width: 100%;
    background: #e9ecef;
    font-family: futura-bold;
    z-index: 999;
    cursor: pointer;
}

.head2 .nike {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.head2 .stellarnav ul {
    padding: 0 !important;
    margin: 0 !important;
}

.menu {
    display: grid;
    list-style: none;
    grid-auto-flow: column;
    grid-column-gap: 2.5em;
    font-size: 1.2em;
    align-items: center;
}

.stellarnav ul ul {
    font-family: helveticaNeue-medium !important;
    font-size: .8em !important;
}

.stellarnav.dark .icon-close:after {
    border-color: #000 !important;
}

.stellarnav.dark .icon-close:before {
    border-color: #000 !important;
}

.stellarnav.dark a.dd-toggle .icon-plus:before {
    border-color: #333 !important;
}

.stellarnav.dark a.dd-toggle .icon-plus:after {
    border-color: #333 !important;
}

.menu {
    z-index: 999999;
}

.offers {
    text-align: center;
    font-family: futura-bold;
    border: 0.5px solid #999;
}

.offers h4 {
    margin: 0 !important;
    padding: 0.6em;
}

.filter {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px !important;
}

.filter .cap {
    align-items: center;
    display: grid;
    font-family: futura-bold;
}

.product-selection {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.select {
    height: auto;
}

.select .size p {
    background: #f1f1f1;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(4em, 4em)) !important;
    padding: 0.5em;
    text-align: center;
    border-radius: 50px;
    margin: 0.5em;
}

.select .size p:hover {
    border: 0.5px solid #555;
}

.select a {
    color: #444;
    font-family: helvetica-medium;
}

.select a:hover {
    text-decoration: none;
    color: #000;
}

.product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    padding-left: 1.5em;
    justify-content: space-between;
    height: fit-content
}

.product-view a {
    text-decoration: none;
    color: #333;
}

.product-view a:hover {
    text-decoration: none;
    color: #333;
}

.product-view div {
    height: 100%;
}

.product-view img {
    width: 100%;
    height: 300px;
    /* Adjust the height as needed */
   
}

.product-view img:hover {
    opacity: 0.7;
    transition: all 0.5s ease-in;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

footer {
    width: 100%;
    height: auto;
    background: #111;
    color: #ccc !important;
    cursor: pointer;
    font-family: helveticaNeue-medium !important;
}

footer a {
    color: #bbb !important;
    line-height: 2;
}

footer a:hover {
    color: #ddd !important;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .head1 {
        display: none;
    }
    .icon {
        display: none !important;
    }
    .head2 .nike {
        padding: .2em !important;
    }
    .stellarnav.mobile>ul>li {
        font-size: .8em !important;
    }
    .product-selection {
        grid-template-columns: none;
        grid-template-rows: 1fr 5em;
    }
    .select {
        height: auto;
        position: absolute;
        background: #fff;
        width: 92%;
        z-index: 9999;
    }
    .product-view {
        grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
        padding: 0;
        position: relative;
        top: 75px;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .icon {
        display: none !important;
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) {
    .menu {
        grid-column-gap: 1em;
    }
}

.expert {
    border: solid 1.5px #63453c;
    border-radius: 5px;
    width: 250px !important;
    box-shadow: 0 0 1px #ddd;
}

.expert img {
    width: 100%;
    height: 300px;
}

.expert .text {
    padding: 10px;
    margin-top: 6px;
}